.word label {
  display: inline-block;
  background-color: #44a7c5;
  padding: 0 20px;
  height: 40px;
  line-height: 36px;
  border-radius: 20px;
  margin: 0 10px;
  transition: 0.3s background-color;
  width: 30%;
  color: #fff;
}

.word label:hover {
  background-color: #238cac;
  cursor: pointer;
}

.word input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.word input[type='radio']:checked + label {
  background-color: rgb(3, 114, 148);
  cursor: default;
}

/* .chosen label {
  background-color: rgb(3, 114, 148);
}

.chosen label:hover {
  background-color: rgb(3, 114, 148);
  cursor: default;
} */
